
@media only screen and (max-width: 767px) {
    #left-section {
      display: none;
    }
  }
  
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
  
    #left-section {
        display: none;
      }
  }
  

  .jdQEAj{
    top: 0 !important;
    right: -1.25em !important;
  }
  

