.main {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.chat-area {
    height: 60vh;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.query,
.output {
    margin-bottom: 10px;
    display: flex;
}

.query {
    background-color: rgb(255, 230, 0);
    align-self: flex-start;
    border: 2px solid black;
    padding: 0.2em 0.5em;
    border-radius: 20px;
    width: fit-content;
    max-width: 40vw;
    word-wrap: break-word; /* Use word-wrap */
    overflow-wrap: break-word; /* Use overflow-wrap */
    white-space: pre-wrap; /* Handle long words and line breaks */
}

.output {
    background-color: antiquewhite;
    align-self: flex-end;
    border: 2px solid black;
    padding: 0.2em 0.5em;
    border-radius: 20px;
    width: fit-content;
    max-width: 40vw;
    word-wrap: break-word; /* Use word-wrap */
    /* overflow-wrap: break-word;  */
    white-space: pre-wrap; /* Handle long words and line breaks */
}

.query p,
.output p {
    margin: 0; /* Remove default margin from p */
    word-wrap: break-word; /* Ensure word-wrap within p */
    overflow: auto;
    white-space: pre-wrap; /* Handle long words and line breaks */
}

.prompt-div {
    position: fixed;
    width: 100%;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    padding: 10px;
    background-color: #f8f9fa;
    border-top: 1px solid #dee2e6;
}

.prompt {
    padding-left: 2em;
    padding-top: 0.5em;
    display: flex;
    justify-content: center;
    border-radius: 20px;
    width: 80%;
    height: 50px;
}
